@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 4px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #121212;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1f1f1f;
    
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #121212;
}